.Card_Bottom{

    @include BMP(transparent,0,0) ;
    position: absolute;
    bottom: 0;
    width: 100%;


    #CTA{ 
            @include BMP(transparent,10px 0 50px ,0) ; 
        }

    .ActionBar{ 
                @include BMP(transparent,0 ,0) ; 
                position: relative;
                height: 45px;
        } 

} 