#Header{

    @include BMP($SecondaryColor,0%,10px 0px) ;

    height:auto;
    padding-bottom: 40px;

    h1{
        font-family: $FontFamilyBody;
        display: inline;
        @include FONT($FontLargeSize,1em,normal,0 0 10px) ; 
        width: 80%;
        display: inline-block;
        color:$SecondaryHColor;
        margin: 0 0 20px;
    }

    h2{
        font-family: $FontFamilyBody;
        display: inline;
        @include FONT($FontMedSize,$FontMedLine,$FontMedWeight,0 0 10px) ;
        color:$SecondaryHColor;
    }

    p{
        font-family: $FontFamilyBody;
        @include FONT($FontSmallSize,1.3em,bold,0 20% 10px 0 ) ; 
    }
    @import "./_Sponsor_Top.scss";
} 