#Sponsor{

    border-bottom: 2px solid $TertiaryColor;
    padding-bottom: 10px;
    margin-bottom: 40px;
    color:$PrimaryColor;

    a{
        color:$PrimaryColor;
        text-decoration: none;
        line-height: 2.7em;
        font-weight: 100;
    }
    a:hover{
        text-decoration: underline;
    }

    span{
        line-height: 3.5em;
        float: right;
        font-size: .8em;
    }
    img{
        width: 80px;
        margin: 0 10px 0 10px;
        float: right;
        display: inline-block;
    }
}