/* Smartphones (portrait and landscape) ----------- */
/* Large Phones ----------- */
@media only screen and (min-width : 576px) and (max-width : 768px) {
    #Header{
        #Sponsor{ 
            border: none;
            margin-bottom: 0;
            .text-left{
                border-bottom: 2px solid #80D1D6;
               flex: 0 0 100%;
                max-width: 100%;
            }
            .text-right{
                text-align: left !important;
                flex: 0 0 100%;
                max-width: 100%;
                border: none;
                padding: 15px;

                img {
                        width: 25%;
                        float: unset;
                }
                span{float: left;}
                  
            }
        }
        .col-12{ padding: 0;}
        h1{ width: 100%;}
        p{ margin: 0;}
    }
}


/* Medium Phones ----------- */
@media only screen and (min-width : 480px) and (max-width : 576px) {

    #Header{
      
        #Sponsor{
            margin-bottom: 20px;
            border-bottom: unset;
            a{ line-height: 2.5em;}
            span{ float: left; line-height: 3em;}
            img {width: 20% ; float: unset;}
            
            .text-left{
                border-bottom: 2px solid #80D1D6;
            }
            .text-right{
                text-align: left !important;
                padding: 5px 15px;
            }
            
    }

    .col-12{ padding: 0;}
    h1{ width: 100%;}
    p{ margin: 0;}

    }

}

/* Small Phones ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

    #Header{
      
        #Sponsor{
            margin-bottom: 20px;
            border-bottom: unset;
            a{ line-height: 2.5em;}
            span{ float: left; line-height: 3em;}
            img {width: 25% ; float: unset;}
            
            .text-left{
                border-bottom: 2px solid #80D1D6;
               
            }
            .text-right{
                text-align: left !important;
                padding: 5px 15px;
                
            }
            
    }

    .col-12{ padding: 0;}
    h1{ width: 100%;}
    p{ margin: 0;}

    }
   
}
    
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    #Header{
      
        #Sponsor{
            margin-bottom: 0px;
            border-bottom: unset;
            a{ line-height: 2.5em;     font-size: .8em;}
            span{ float: left; line-height: 3em;}
            img {width: 30% ; float: unset;}
            
            .text-left{
                border-bottom: 2px solid #80D1D6;
               
            }
            .text-right{
                text-align: left !important;
                padding: 5px 15px;
                
            }
            
    }

    .col-12{ padding: 0;}
    h1{ width: 100%; font-size: 2.1em; line-height: 1.2em;}
    p{ margin: 0;}

    }
}
