// Base Colors
$PrimaryColor:#060B38;
$SecondaryColor:#DCDCDC;
$TertiaryColor:#69D1CA; 
$Quaternary:#fff;

$Quinary:#250035;


// Type Colors
$PrimaryHColor:#fff;
$SecondaryHColor:#000000;
$TertiaryHColor:#fff;

$PrimaryPColor:#fff;
$SecondaryPColor:#fff;
$TertiaryPColor:#fff; 