
 // Typography


 $FontFamilyHeader:"GH Guardian Headline";
 $ClientHeader:'Roboto', sans-serif;
 $FontFamilyBody:"TS3 Text Sans";
 
$FontLargeSize:2.5em;
$FontLargeLine:1em;
$FontLargeWeight:normal;

$FontMedSize:2em;
$FontMedLine:1.1em;
$FontMedWeight:100;
 
$FontSmallSize:1.2em;
$FontSmallLine:1.5em;
$FontSmallWeight:100; 