
// Base Colors
$PrimaryColor:#232f34;
$SecondaryColor:#fefdf8;
$TertiaryColor:#1f6bf2; 

// Type Colors
$PrimaryHColor:#fff;
$SecondaryHColor:#232f34;
$TertiaryHColor:#fff;

$PrimaryPColor:#fff;
$SecondaryPColor:#fff;
$TertiaryPColor:#fff;